* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: white;
}



.container {
    display: flex;
    align-items: center;
    background-color: #EC8F3C;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 80%;
    max-width: 800px;
}

.form-container {
    flex: 1;
    background-color: #FFE0B2;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-right: 20px;
}

.form-container h2 {
    margin-bottom: 20px;
    font-size: 24px;
    color: #333;
    text-align: center;
}

.form-group {
    margin-bottom: 10px;
    position: relative;
}

.form-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 16px;
    margin-bottom: 10px;
}

.form-group button {
    width: 100%;
    padding: 10px;
    background-color: #4D0E0E;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

.form-group button:hover {
    background-color: #EB8F3B;
}

.form-group a {
    display: block;
    text-align: center;
    color: #fff;
    text-decoration: none;
    margin-top: 10px;
    padding: 10px;
    background-color: #b44f4f;
    border-radius: 4px;
}

.form-group a:hover {
    background-color: #823b3b;
}

.image-container {
    flex: 1;
    background-image: url('/common/img/loginfiles/Login_Signin_PerritoGrande.png');
    background-size: cover;
    background-position: center;
    border-radius: 8px;
    min-height: 400px;
}

#toggler {
    position: absolute;
    right: 20px;
    top: 45%;
    transform: translateY(-50%);
    cursor: pointer;
}

.alert {
    display: none;
    color: red;
    text-align: center;
    margin-bottom: 10px;

}


@media (max-width: 768px) {
    .container {
        flex-direction: column;
    }

    .form-container {
        margin-right: 0;
        margin-bottom: 20px;
    }
    .image-container{
        display: none;
    }
}